<article class="card mb-5">
  <div class="title">
    <a href="{{post_url}}">{{title}}</a>
  </div>
  <div class="meta">
    <p>{{user.username}}</p>
    |
    {{created_at}}
    |
    <a href="/post/{{id}}">{{comments.length}} {{format_plural  "comment" comments.length}}</a>
  </div>
</article>